@using Agil.Services
@inject WebsiteHandler _WebsiteHandler
@model IEnumerable<Agil.Models.Item>

<div class="text-center mt-5 title-color mb-5">
    <h2 class="display-5">Annonser</h2>
</div>
@if(Model.Any())
{
    @foreach (var i in Model)
    {
        <div class="card mb-3 mx-auto w-50"style="border-radius: 15px; background-color: white">
            <div class="row g-0">
                <div class="col-md-4" style="display: flex; justify-content: center; align-content: center">
                    <img src="https://alphapartners.lv/wp-content/themes/consultix/images/no-image-found-360x260.png" class="card-img-left" alt="Bild på det som säljes/köpes" style="border-radius: 15px; margin: auto; width: 100%;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="d-flex w-100 justify-content-between mb-2">
                            <small>@i.Category - @i.Place</small>
                        </div>
                        <h5 class="mb-2">@i.Title</h5>
                        <p class="mb-1">Pris: @i.Price:-</p>
                        <a style="margin-top: 15px; border-radius: 15px" asp-page="/Home/ShowItem" class="btn btn-primary" asp-route-id="@i.Id">Läs mer...</a>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="card mb-3 mx-auto w-50 text-center" style="border-radius: 15px; width: 500px">
        <h3 style="margin-top: 25px; margin-bottom: 25px">
            Sökningen gav tyvärr inga träffar
        </h3>
        <div>
            <a style="margin-top: 25px; margin-bottom: 25px; border-radius: 15px" asp-page="/Index" class="btn btn-primary">Sök igen</a>
            <a style="margin-top: 25px; margin-bottom: 25px; border-radius: 15px;" asp-controller="Home" asp-action="Items" class="btn btn-primary">Se annonser</a>
        </div>
    </div>
}
