@using Agil.Services
@using Microsoft.AspNetCore.Identity
@using Agil.Models
@using System.Diagnostics.CodeAnalysis
@inject WebsiteHandler _websiteHandler
@inject UserManager<User> _userManager
@inject SignInManager<User> _signInManager
@{
    var myPostedAdvertisementList = await _websiteHandler.MyPostedAdvertisement(_userManager.GetUserId(User));
}

    @foreach (var i in myPostedAdvertisementList)
    {

        <div class="card mb-3 mx-auto w-50">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="Bild på det som säljes/köpes">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="d-flex mb-3">
                            <h5 class="me-auto p-2 card-title">@i.Title</h5>
                            <a class="p-2 btn btn-warning" asp-page="/Home/Edit" asp-route-id="@i.Id" data-bs-toggle="tooltip" title="Redigera"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <br/>
                            <a class="p-2 btn btn-danger" asp-page="/Home/Delete" asp-route-id="@i.Id" data-bs-toggle="tooltip" title="Radera"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </div>
                        <p class="card-text">@i.Description</p>
                        <p class=" card-text"><small class="text-muted">@i.Category-@i.Place</small></p>
                        <p class="card-text"><small class="text-muted">Pris: @i.Price :-</small></p>
                    </div>
                </div>
            </div>
        </div>
            
            
    }
@if(myPostedAdvertisementList.Count == 0)
{
    <div>
        <h3>Du har inte lagt upp några annonser än.</h3>
        <p>Klicka <a class="nav-link text-dark" asp-page="/Home/AddItem">här</a> för att skapa en annons.</p>
    </div>
}
    

