@page
@model Agil.Pages.Home.DeleteModel

@{
    ViewData["Title"] = "Delete";

    var item = Model.Item;
}


<div class="text-center mt-5 title-color mb-4">
    <h2 class="display-5">Radera annons</h2>
    <h5 class="fw-light">Är du säker på att du vill radera denna annons?</h5>
</div>

<div class="card mb-3 mx-auto w-50 mt-4" style="border-radius: 15px">
    <div class="row g-0">
        <div class="col">
            <div class=" d-flex justify-content-center mt-3" >
                <img src="https://semantic-ui.com/images/wireframe/image.png" class="w-50 p-3" alt="...">
            </div>
            <div class="card-body text-center mt-1">
                <h5 class="card-title title-color fw-normal">@item.Title</h5>
                <hr/>
                <p class="fw-light">@item.Place | @item.Category</p>
                <p class="fw-normal">@item.Description</p>
                <p class="fw-normal">Pris: @item.Price:-</p>
                <p class="fw-light fst-italic text-muted"><small>Publicerings datum: @item.CreatedDate.ToString("dd'/'MM'-'yyyy")</small></p>
            </div>
            
            <form method="post">
                <div class="text-center mb-4">
                    <input type="hidden" asp-for="Item.Id"/>
                    <a class="nav-link link-secondary me-auto d-inline-block border btn-color" style="border-radius: 15px" asp-controller="Home" asp-action="MyPostedAdvertisement">Gå tillbaka</a>
                    <input type="submit" value="Radera" class="nav-link link-secondary me-auto d-inline-block border btn-color" style="border-radius: 15px"/>
                </div>
            </form>
        </div>
    </div>
</div>