@page
@model Agil.Pages.Home.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">Radera Annons</h1>
<hr/>
<h3 class="text-center">Är du säker på att du vill radera denna annons?</h3>
<div class="card mb-3 mx-auto w-50">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="Bild på det som säljes/köpes">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="d-flex mb-3">
                    <h5 class="me-auto p-2 card-title">@Html.DisplayFor(model => model.Item.Title)</h5>
                </div>
                <p class="card-text">@Html.DisplayFor(model => model.Item.Description)</p>
                <p class=" card-text"><small class="text-muted">@Html.DisplayFor(model => model.Item.Category) - @Html.DisplayFor(model => model.Item.Place)</small></p>
                <p class="card-text"><small class="text-muted">Pris: @Html.DisplayFor(model => model.Item.Price) :-</small></p>
                <p class="card-text"><small class="text-muted">Publiserings datum: @Html.DisplayFor(model => model.Item.CreatedDate) :-</small></p>
            </div>
        </div>
    </div>
    <form method="post">
        <input type="hidden" asp-for="Item.Id" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a class="btn btn-outline-primary" asp-controller="Home" asp-action="MyPostedAdvertisement">Mina Annonser</a>
    </form>
</div>
